/* VARIABLES */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
:root {
  --primary: #9356DC;
  --secondary: #FF79DA;
  --tertiary: #99E2D0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: black;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1;
}

.home {
  overflow: hidden;
  -webkit-animation: hideScroll 0.5s 2.5s forwards;
          animation: hideScroll 0.5s 2.5s forwards;
}

.hidden {
  display: none;
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
}

a {
  color: black;
  text-decoration: none;
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(25%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(25%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes hideScroll {
  from {
    overflow: hidden;
  }
  to {
    overflow: initial;
  }
}
@keyframes hideScroll {
  from {
    overflow: hidden;
  }
  to {
    overflow: initial;
  }
}
h1 {
  font-family: "Shrikhand", cursive;
}

header {
  width: 100%;
  background: white;
  padding: 0.5rem;
  box-shadow: 1px -1px 7px gray;
  display: flex;
  align-items: center;
}
header h1 {
  text-align: center;
  margin: 0 auto;
}

.header--page h1 {
  text-align: center;
  transform: translateX(-16px);
}

.function {
  padding: 1rem;
}
@media (min-width: 992px) {
  .function {
    max-width: 500px;
    margin: auto;
  }
}

.function__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 1rem;
}

.function__btn {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 15px;
  padding: 1rem 2rem;
  box-shadow: 1px 2px 7px #adadad;
  gap: 1rem;
  position: relative;
  cursor: pointer;
}
.function__btn svg {
  color: #818181;
}
.function__btn span {
  font-weight: 700;
}
.function__btn:hover {
  background: #f5e5ff;
}
.function__btn:hover svg {
  color: var(--primary);
}

.function__btn:nth-child(1)::before {
  content: "1";
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  color: white;
  height: 16px;
  width: 16px;
  position: absolute;
  background: var(--primary);
  border-radius: 50%;
  left: 0;
  transform: translateX(-50%);
}

.function__btn:nth-child(2)::before {
  content: "2";
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  color: white;
  height: 16px;
  width: 16px;
  position: absolute;
  background: var(--primary);
  border-radius: 50%;
  left: 0;
  transform: translateX(-50%);
}

.function__btn:nth-child(3)::before {
  content: "3";
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  color: white;
  height: 16px;
  width: 16px;
  position: absolute;
  background: var(--primary);
  border-radius: 50%;
  left: 0;
  transform: translateX(-50%);
}

.restaurants {
  background-color: #f1f1f1;
  padding: 2rem 1rem;
}
.restaurants h2 {
  margin-bottom: 1rem;
}

.restaurants__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 992px) {
  .restaurants__wrapper {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 0fr));
  }
}

.menu__img {
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.menu__page {
  background: #f1f1f1;
}

.menu {
  background: #f1f1f1;
  padding: 2rem 1rem 0rem 1rem;
  border-radius: 25px 25px 0 0;
  transform: translateY(-25px);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 992px) {
  .menu {
    max-width: 900px;
    margin: auto;
  }
}

.title__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
}
.title__wrapper svg {
  fill: transparent;
  stroke: black;
}
.title__wrapper svg:hover {
  fill: url(#Gradient1) #fff;
  stroke: white;
}

.menu__section h3 {
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 1rem;
  font-size: 14px;
}
.menu__section h3::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 2.5rem;
  left: 0;
  bottom: -8px;
  background: var(--tertiary);
}

.recipies__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

footer {
  background: #323232;
  padding: 1rem;
  color: white;
}
footer h1 {
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 1rem;
}
footer ul {
  list-style: none;
  gap: 0.25rem;
  display: flex;
  flex-direction: column;
}
footer ul a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
@media (min-width: 992px) {
  footer ul {
    flex-direction: row;
    justify-content: space-between;
  }
  footer ul li {
    flex: 1;
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

.place {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #dddddd;
  justify-content: center;
  padding: 0.5rem;
  font-size: 14px;
}
.place p {
  font-weight: 600;
}

.reservation {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  align-items: center;
  text-align: center;
  background: #f1f1f1;
}
.reservation p {
  opacity: 0.7;
}

.rounded-btn {
  border-radius: 25px;
  background: linear-gradient(170deg, var(--secondary), var(--primary));
  border: none;
  padding: 1rem 1.5rem;
  color: white;
  font-weight: 600;
  box-shadow: 1px 2px 7px #adadad;
  cursor: pointer;
  transition: all;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  min-width: 190px;
}

.rounded-btn:hover {
  box-shadow: 1px 2px 7px #8a8a8a;
  background: linear-gradient(170deg, #ff9ee4, #8839e7);
}

.restaurant__card {
  display: flex;
  flex-direction: column;
  min-height: 225px;
  background: white;
  overflow: hidden;
  border-radius: 15px;
  color: black;
  text-decoration: none;
  position: relative;
}
.restaurant__card .is-new {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--tertiary);
  z-index: 2;
  color: #00b185;
  font-weight: 700;
  border-radius: 2px;
  padding: 0.5rem 1rem;
}

.restaurant__card__img__wrapper {
  flex: 8;
  position: relative;
  background-color: aqua;
}
.restaurant__card__img__wrapper img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 100%;
  width: 100%;
}

.restaurant__card__information {
  flex: 1;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.restaurant__card__information svg {
  fill: white;
  stroke: black;
}
.restaurant__card__information svg:hover {
  fill: url(#Gradient1) #fff;
  stroke: white;
}

.recipy__card {
  background: white;
  border-radius: 15px;
  border: none;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  box-shadow: 1px 2px 7px #adadad;
  overflow: hidden;
  height: 60px;
  opacity: 0;
  -webkit-animation: appearance 1s ease-in-out forwards;
          animation: appearance 1s ease-in-out forwards;
}
.recipy__card:nth-child(1) {
  -webkit-animation-delay: 0.3333333333s;
          animation-delay: 0.3333333333s;
}
.recipy__card:nth-child(2) {
  -webkit-animation-delay: 0.6666666667s;
          animation-delay: 0.6666666667s;
}
.recipy__card:nth-child(3) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.recipy__card:nth-child(4) {
  -webkit-animation-delay: 1.3333333333s;
          animation-delay: 1.3333333333s;
}
.recipy__card:nth-child(5) {
  -webkit-animation-delay: 1.6666666667s;
          animation-delay: 1.6666666667s;
}
.recipy__card:hover .checked {
  width: 60px;
  transition: all 0.5s ease-in-out;
}
.recipy__card:hover .checked svg {
  transform: rotate(0);
}
.recipy__card .checked {
  color: white;
  width: 0px;
  transform-origin: right;
  background: var(--tertiary);
  height: 100%;
  transition: all 0.5s ease-in-out;
}
.recipy__card .checked svg {
  margin: 18px;
  transform: rotate(-180deg);
  transition: transform 0.5s ease-in-out;
}
.recipy__card .price {
  font-weight: 700;
  display: flex;
  height: 100%;
  align-items: flex-end;
  justify-content: end;
}
.recipy__card .price span {
  padding: 0.75rem;
}

.recipy__card__wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0.75rem;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  overflow: hidden;
  height: 100%;
}
.recipy__card__wrapper h4,
.recipy__card__wrapper P {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

@-webkit-keyframes appearance {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes appearance {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 50;
  background: white;
  -webkit-animation: preloader 3s ease-in-out forwards;
          animation: preloader 3s ease-in-out forwards;
}

@-webkit-keyframes preloader {
  from {
    opacity: 1;
  }
  90% {
    opacity: 1;
    z-index: 50;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes preloader {
  from {
    opacity: 1;
  }
  90% {
    opacity: 1;
    z-index: 50;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}
.loader, .loader:before, .loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation: bblFadInOut 1.8s infinite ease-in-out;
          animation: bblFadInOut 1.8s infinite ease-in-out;
}

.loader {
  color: var(--primary);
  font-size: 7px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
          animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}

.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
          animation-delay: -0.32s;
}

.loader:after {
  left: 3.5em;
}

@-webkit-keyframes bblFadInOut {
  0%, 80%, 100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

@keyframes bblFadInOut {
  0%, 80%, 100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}/*# sourceMappingURL=style.css.map */