footer {
    background:#323232;
    padding: 1rem;
    color: white;

    h1 {
        font-size: 14px;
        font-weight: 400;
        padding-bottom: 1rem;
    }

    ul {
        list-style: none;
        gap: .25rem;
        display: flex;
        flex-direction: column;
        a {
            text-decoration: none;
            color: white;
            display: flex;
            align-items: center;
            gap: .5rem;
        }
        @include respond-to('medium') {
        
            flex-direction: row;
            justify-content: space-between;

        li {
            flex: 1;
            display: flex;
            justify-content: center;
            text-align: center;
        }
         
        }
    }



}