@use './mixins';

.carousel {
    position: relative;

    &_image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 335/255;
        background: var(--gray);
        border-radius: 10px;
        overflow: hidden;

        @include mixins.devices(tablet) {
            aspect-ratio: 1240/415;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    button {
        background:transparent;
        border: none;
        height: 24px;
        width: 24px;
        cursor: pointer;
        position: absolute;
        top: 50%;

        @include mixins.devices(tablet) {
            height: 119px;
            width: 96px;
        }

        &.left {
            transform: rotate(90deg) translateX(-50%) ;
            left: 0;
        }

        &.right {
            right: 0;
            transform: rotate(-90deg) translateX(50%) ;
        }
    }
}