@use './mixins';

footer {
    background: #000;
    padding: 62px 12px;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    gap: 2rem;

    @include mixins.devices(tablet) {
        padding: 66px 24px 29px;
        gap: 3rem;
    }

    .logo {
        width: 122px;
        height: 39.44px;
    }
    span {
        font-weight: 500;
        font-size: 12px;
        @include mixins.devices(tablet) {
            font-size: 24px;

        }
    }
}