@use './mixins';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 1.25rem 0 1.25rem;

    @include mixins.devices(tablet) {
        padding: 2.25rem 2.25rem 0 2.25rem;
    }


    .logo {
        width: 145px;
        height: 47px;
        color: var(--red);

        @include mixins.devices(tablet) {
            width: 200px;
            height: 67px;
        }
    }

    ul {
        list-style: none;
        display: flex;
        text-decoration: none;
        gap: 10px;
        align-items: center;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 500;

        @include mixins.devices(tablet) {
            gap: 57px;
            font-size: 24px;
        }

        li {
            border-bottom: 1px solid transparent;

            &:hover {
                border-color: 1px solid var(--red);
            }
        }

        a {
            text-decoration: none;
            color: var(--red);
        }
    }
}