.rounded-btn {
  border-radius: 25px;
  background: linear-gradient(170deg, var(--secondary), var(--primary));
  border: none;
  padding: 1rem 1.5rem;
  color: white;
  font-weight: 600;
  box-shadow: 1px 2px 7px #adadad;
  cursor: pointer;
  transition: all;
  width: fit-content;
  margin: auto;
  min-width: 190px;
}

.rounded-btn:hover {
    box-shadow: 1px 2px 7px #8a8a8a;
    background: linear-gradient(170deg, #ff9ee4, #8839e7);
}
