* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: black;
}

.home {
  overflow: hidden;
  animation: hideScroll .5s  2.5s forwards;
}

.hidden {
  display: none;
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
}

a {
  color: black;
  text-decoration: none;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(25%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes hideScroll {
  from {
    overflow: hidden;
  }
  to {
    overflow: initial;
  }
}